@media screen and (min-width: 550px){
  main {
    max-width: 100%;
    position: relative;
  }
  
  picture img {
    width: 100%;
    height: auto;
    display: block;
  }

  main > div {
    display: grid;
    grid-template-columns: .2fr 1fr 2fr 1fr .2fr;
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
    width: 100%;
    padding-top: 1.5rem;
    margin: 0;
    height: 60%;
  }

  main .data {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
  }

  main .box {
    background-color: rgba(255, 255, 255, 30%);
    padding: 2rem;
    margin-top: 1rem;
  }

  main .weather {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
  }

  main .box {
    background-color: rgba(255, 255, 255, 30%);
    padding: .75rem 0;
    margin-top: 1rem;
  }

  .box p {
    margin-bottom: 0;
  }

  section p:last-child {
    margin-bottom: 0;
  }

  h2 {
    padding: 1rem;
    margin: 0;
    background-color: rgba(30, 221, 255, 0.5);
  }

}