@media screen and (min-width: 550px){
  main {
    max-width: 100%;
    position: relative;
  }
  
  picture img {
    width: 100%;
    height: auto;
    display: block;
  }

  main > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: absolute;
    width: 100%;
    padding: 1.5rem 2rem;
  }

  main .data {
    grid-column: 1 / 2;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 30%);

  }

  main .weather {
    grid-column: 3 / 4;
    padding-top: 5rem;
    background-color: rgba(255, 255, 255, 30%);
  }

}